*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.nav__left--item:nth-child(2) {
    border-radius: 15px !important;
    border: 1px solid rgb(220, 219, 219) !important;
}

.nav__left--item:nth-child(2) input{
    width: 396px !important;
    height: 46px !important; 
    border-radius: 12px 0 0 12px;
}

.search{
    border-radius: 0 12px 12px 0 ;
    min-height: 56px !important;
}